@media(max-width:1399px){
    .last_card{
        margin-bottom: 60px;
    }
}
@media(max-width:1199px){
    .map{margin-bottom: 30px;
    } .contact__item{
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
     }
     .contact__item-info{
         margin-bottom: 30px;
     }
  
}
@media(max-width:991px){
    .burger{
        display: block;
        position: absolute;
        left: 92%;
        top: 35%;
        cursor: pointer;
    }
    .header__nav{
        width: 100%;
    }
    .header__list{
        padding: 30px;
        position: absolute;
       display: block;
        min-height: 100vh;
        height: 100%;
        top: 0;
        background-color: white;
        right: -100%;
        transition: 0.5s;
    }
    .header__list.active{
        right: 0;
    }
    .list{
       display: block;
       margin-top: 60px;
    }
    .header__list_link{
        display: block;
        /* margin-top: 20px; */
    }
    .slide-item-v{
        flex-direction: column;
        margin-top: 100px;
    }
    .map{
        width: 100%;
    }
    .map__info{
        margin-top: 30px;
        width: 100%;
    }
    .contact__item{
       flex-direction: column;
       align-items: center !important;
       justify-content: center !important;
    }
    .us__info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:767px){
    .us__text,
    .product__text{
        width: 100%;
    }  .slide-item-v img{
        width: 400px;
    }
    .burger{
        left: 90%;
    }
}
@media(max-width:576px){
    .footer__info{
        flex-direction: column;
        align-items: center;
    }
    .insta{
        margin: 5px 0;
    }
    .slide-item-v img{
        width: 300px;
    }
    .burger{
        left: 88%;
    }
}
@media(max-width:450px){
    .burger{
        left: 86%;
    }
    .us__item{
        width: 350px;
    }
    .us__item:hover .us__item-title {
        top: 10%;
        left: 20px;    
    }
    .us__item:hover .us__item-text {
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
    }
    .input,.textarea{
        width: 300px;
    }
}