@import 'font.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
overflow-x: hidden;   
}
body.active{
    overflow: hidden;
    background-color: rgba(0, 0, 0,0.3);
    position: relative;
    
}
.burger.active .first{
    transform: rotate(-45deg);
}
.burger.active .second{
    transform: rotate(45deg);
}
.burger.active .burger__bottom{
    right: -100%;
}
.burger.active .burger__top{
    right: 100%;
}
.burger{
    z-index: 999;
    width: 35px;
    display: none;
    height: 25px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
}
.burger__top{
    position: absolute;
    width: 30px;
    background-color: #354C96;
    height: 3px;
    top: 4px;
    right: 0;
    transition: 0.5s;
}
.burger__middle{
    position: absolute;
    width: 25px;
    background-color: #354C96;
    height: 3px;
    top: 10px;
    right: 0;
    transition: 0.5s;
}
.burger__bottom{
    position: absolute;
    width: 20px;
    background-color: #354C96;
    height: 3px;
    top: 16px;
    right: 0;
    transition: 0.5s;
}
:root {
    --MonItalic: 'Montserrat-Italic';
    --M400: 'Montserrat-Regular';
    --M500: 'Montserrat-medium';
    --M700: 'Montserrat-Bold'

}

ul {
    list-style: none;
    margin-bottom: 0 !important;
}

a {
    text-decoration: none !important;
}

.fixed__nav {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(3px);
}

.header__nav {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__list_link {
    padding: 10px 20px;
    color: #354C96;
    font-size: 16px;
    font-family: var(--M700);
    transition: 0.6s;
    border-radius: 40px;
}

.header__list_link:hover {

    background-color: #354C96;
    color: white;
}

.fixed_nav {
    width: 100%;
}

.class {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url('../images/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-item-v {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo img {
    width: 200px;
}

.slide-item-v__text {
    font-family: var(--MonItalic);
    font-size: 20px;
    margin-bottom: 50px;

}

.slide-item-v__title {
    font-family: var(--M700);
    color: green;
    font-size: 50px;
    margin-bottom: 10px;
}

.slide-item-v__link {

    background-color: #354C96;
    padding: 15px 40px;
    font-family: var(--M500);
    color: white;
    border-radius: 40px;
}

.slide-item-v__link:hover {
    color: white;

}

.card {
    width: 324px;
    margin: 0 50px;
    margin-top: 80px;
    padding: 30px;
    text-align: center;
    background: white;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    align-items: center;
    border-radius: 10px !important;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    background: #25a1e4;
    transform: scale(1.1, 1.2) !important;
}

.card__title {
    font-family: 'Montserrat-Bold';
    font-size: 25px;
    margin: 30px 0;
    text-align: center;
    color: #000;
}

.card__text {
    color: #000;
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    text-align: justify;
}

.card__btn {
    display: block;
    color: #fff;
    background: #309C39;
    padding: 14px 80px;
    width: max-content;
    border-radius: 5px;
    text-decoration: none;
}

.card:hover .card__title {
    color: #fff;
}

.card:hover .card__text {
    color: #fff;
}

.card:hover .card__btn {
    background: #fff;
    color: #000;
}

.product {
    height: 100%;
    min-height: 100vh;
    background-image: url('../images/bg4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 100px;
    width: 100%;
    overflow: hidden;
}

.product__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__title {
    margin-bottom: 20px;
    font-family: var(--M700);
    color: green;
    font-size: 40px;
}

.product__text {
    font-family: var(--M500);
    width: 700px;
}

.Us {
    height: 100%;
    min-height: 100vh;
    background-image: url('../images/bn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}
.us__info{
    margin-bottom: 30px;
}
.us__title {
    margin-top: 100px;
    color: green;
    font-weight: bold;
    font-size: 50px;
}

.us__text {
    text-align: center;
    font-size: 20px;
    color: #000a2a;
    width: 800px;
    font-weight: 500;
}

.us__item {
    cursor: pointer;
    border-radius: 15px;
    color: white;
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 250px;
    margin-top: 50px;
    transition: 0.6s;
}

.us__item-img {
    position: absolute;
    transition: 0.6s;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.us__item:hover .us__item-img {
    transform: scale(1.1, 1.1);
}

.us__item:hover .us__item-title {
    top: 10%;
}

.us__item-title {
    font-size: 40px;
    position: absolute;
    z-index: 22;
    top: -100%;
    transition: 0.6s;
    width: 300px;
    left: 50px;
    text-align: center;
    font-weight: 700;

}

.us__item-text {
    font-size: 20px;
    width: 350px;
    text-align: center;
    position: absolute;
    z-index: 22;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.6s;
    left: -100%;
}

.us__item:hover .us__item-text {
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
}

.us__item-link {
    padding: 4px 30px;
    padding-bottom: 7px;
    border-radius: 30px;
    background-color: white;
    font-size: 25px;
    position: absolute;
    z-index: 22;
    bottom: -100%;
    transition: 0.6s;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(3, 179, 21);
    font-weight: 500;

}

.us__item-link:hover {
    color: rgb(3, 179, 21);
}

.us__item:hover .us__item-link {
    bottom: 30px;
}

.us__item:hover .shadow {
    opacity: 1;
}

.shadow {
    transition: 0.6s;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(3, 179, 21, 0.7);
    z-index: 11;
    opacity: 0;
    backdrop-filter: blur(2px);
}

.price__title {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    color: #fff;
    font-weight: 700;
}

.partner__text {
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.contact__item-info-title {
    margin: 0;
    color: white;
}

.contact__item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
}

.contact__item-info {
    display: flex;
    flex-direction: column;
}

.contact__item-info {
    padding: 30px;
    background-color: #152758;
    border-radius: 10px;
}

.input {
    border-radius: 30px;
    margin-top: 25px;
    padding: 15px 20px;
    width: 350px;
    outline: none;
    border: none;
}

.textarea {
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 25px;
    width: 350px;
    height: 160px;
    padding: 20px;
    resize: none;
}

.contact {
    height: 100%;
    min-height: 100vh;
    background-image: url('../images/bg_contact.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.map {
    height: 100%;
    
}

.btn {
    margin-top: 20px;
    background-color: #fff;
    color: #354C96;
    font-weight: 600;
    padding: 15px 70px;
    font-family: var(--M500);
    text-transform: uppercase;
    border-radius: 40px;
    transition: 0.7s;
}

.btn:hover {
    background-color: #fff;
    color: #354C96;
}

.map__info {
    border-radius: 10px;
}

.footer {
    position: absolute;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    text-align: center;
    backdrop-filter: blur(2px);
}

.footer__info {
    display: flex;
    justify-content: space-around;
}

.footer p {
    color: white;
}

.insta {
    cursor: pointer;
}

.icon {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: 600;
}

.fa-instagram,
.fa-mobile-alt,
.fa-facebook-f {
    color: white;
    font-size: 25px;
    transition: 0.5s;
    
}

.phone__icon,
.insta__icon,
.face__icon{
    font-size: 25px;
    color: white;
    margin-bottom: 0;
    margin-left: 10px;
    transition: 0.5s;
}

.phone {
    cursor: pointer;
   
}

.phone:hover .fa-mobile-alt {
    color: #354C96;
    font-weight: 900;
}

.phone:hover .phone__icon {
    color: #354C96;
}

.insta:hover .fa-instagram {
    color: red;
    font-weight: 900;
}

.insta:hover .fa-facebook-f {
    color: blue;
    font-weight: 900;
}
.insta:hover .insta__icon{
    color: red;
}
.insta:hover .face__icon{
    color: blue;
}
section{
    scroll-snap-type: y mandatory;
}
